.logoimg{
    width: 50px;
    height: 50px;
}
body{
    background: #42AAFF;
}

aside{
    float:left;
    background: #423FFF;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: white;
    border-right: 3px solid black;
}

a{
    color: white;
}